<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/Contacto">Contacto</a>
        </li>
        <li>
          <a href="/Quienessomos">Quienes somos</a>
        </li>
        <li>
          <a href="/informacion">Infromacion</a>
        </li>

          <li>
          <a href="/controlador1">Controlador1</a>
        </li>
        
    
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
